.card-white {
	background-color: #f9f7cf;
	width: 50%;
	padding: 50px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 10px;
	margin: 20px 0px;
	text-align:center;
}

.div {
	display:block;
}

body {
	background-color: #f2dcbb;
	color: #797a7e;	
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
}

h1, h2, h3 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: bolder;
}


a:hover {
	color: #056674;
}

.list-inline i {
    font-size: 50px;
    color: #f2dcbb;
}
.fa-facebook-square:before {
    content: "\f082";
}

.fa-instagram-square:before {
    content: "\e055";
}
