.img-circle {
  border-radius: 50%;
}

.container {
	width: 700px;
	margin: 0px auto;
	position: justify;
}
.card-white {
	background-color: #b9d7ea;
	padding: 30px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	text-align:center;
	margin: 20px 0px;
}


.div {
	display:block;
}

body {
	background-color: #f6f5f1;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	font-color: #000000;
}

h1, h2, h3 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: bolder;
	font-color: #000000;
	
}


a:hover {
	color: #056674;
}

.list-inline {
	  align-items: center;
	list-style:none;
	padding-left:0px;
    font-size: 50px;
    color: #000000;
}
.fab fa-facebook-square:before {
    content: "\f082";
}

.fab fa-instagram-square:before {
    content: "\e055";
}
