.img-circle {
  border-radius: 50%;
}

.container {
	width: 300px;
	margin: 0px auto;
	position: justify;
}
.card-white {
	background-color: #f3bad6;
	padding: 30px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	text-align:center;
}


.div {
	display:block;
}

body {
	background-color: #f4f4f4;
	color: #797a7e;	
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	font-color: #000000;
}

h1, h2, h3 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: bolder;
	
}


a:hover {
	color: #056674;
}

.list-inline {
	list-style:none;
	padding-left:0px;
    font-size: 50px;
    color: #f2dcbb;
}
.fa-facebook-square:before {
    content: "\f082";
}

.fa-instagram-square:before {
    content: "\e055";
}
